<article class="news-item">
    <time class="news-date" datetime="{{ article.date | date: '%Y-%m-%d' }}">
        {{ article.date | date: "%B %d, %Y" }}
    </time>
    
    <div class="news-content">
        <h3 class="news-title">
            {% if article.link %}
                <a href="{{ article.link }}" target="_blank" rel="noopener">
                    {{ article.title }}
                    <span class="sr-only">(opens in new tab)</span>
                </a>
            {% else %}
                {{ article.title }}
            {% endif %}
        </h3>
        
        <p class="news-description">{{ article.description }}</p>
        
        {% if article.conference_name and article.conference_link %}
            <a href="{{ article.conference_link }}" target="_blank" rel="noopener" class="conference-link">
                {{ article.conference_name }}
                <span class="sr-only">(opens in new tab)</span>
            </a>
        {% endif %}
    </div>
</article>

